# Server Port
PORT=

# Database Connection String
MONGO_DB_URL=

# JWT Secret for Authentication
JWT_SECRET=

# Cloudinary Credentials (for image/video uploads)
CLOUD_NAME=
API_KEY=
API_SECRET=

# Mailer Credentials (for sending emails)
MAIL_HOST=
MAIL_USER=
MAIL_PASS=

# Razorpay Credentials (for payments)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Frontend URL (if your frontend is separate)
FRONTEND_URL=